html {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(230, 228, 228);

}

h1 {
  font-size: 2.3rem;
  margin-top: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

input, select, button {
  padding: 0.8rem 0.5rem;
  border: none;
  border-radius: 5px;
}

input {
  min-width: 15rem;
}
form {
  margin: 4rem;
}
input[placeholder] {
  font-weight: 700;
  font-size: large;
}