html {
  margin: 0;
  box-sizing: border-box;
}


/* .body {
  font-family: 'Lora' serif;
} */


.main-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(230, 228, 228);

}

h1 {
  font-size: 2.3rem;
  margin-top: 3rem;
  font-family: 'Lora', serif;
  margin-bottom: 1rem;
  
}
/* .heading {
  font-family: 'Lora' serif;
} */

input, select, button {
  padding: 0.8rem 0.5rem;
  border: none;
  border-radius: 5px;
  gap: 2rem;
  font-family: 'Lora', serif;
  margin-top: 1rem;
  outline: none;
}

input {
  min-width: 15rem;
  border: none;
}
form {
  margin: 4rem;
  
}

#warning {
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: bold;
}

input[placeholder] {
  /* font-weight: 800; */
  font-size: large;
  font-weight: bolder;
  margin-right: 0.5rem;
  font-family: 'Lora', serif;
}
 
select, option {
  
  font-weight: 700;
  margin-right: 0.5rem;
  min-width: 7rem;
  font-size: 1.2rem;
}

#Convert {
  background-color: black;
  color: white;
  font-family: 'Lora', serif;
  font-weight: 800;
  min-width: 6rem;
  font-size: 1.2rem;
}
#display {
  /* align-content: center;
  justify-content: center; */
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}